*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# PyCharm
.idea
env

log*
*.log
*.pot
*.pyc
local_settings.py

.DS_Store
/.Python
/bin/
/include/
/lib/
/share/
/build/
*.project
*.pydevproject
.settings/
/src/
saunter.ini

